In [4]:
import pandas as pd
df = pd.read_csv('september_2024.csv')

In [6]:
df.head(20)

,Order #,Sent Date,Modifier,Option Group Name,Parent Menu Selection,Order ID
0,1,2024-09-01 11:08:00,Regular,Noods,Mac and Cheese,1-1
1,1,2024-09-01 11:08:00,Cheddar,Choose Your Cheese,Mac and Cheese,1-1
2,1,2024-09-01 11:08:00,Brisket,Choose Your Meats,Mac and Cheese,1-1
3,1,2024-09-01 11:08:00,Broccoli,Choose Your Toppings,Mac and Cheese,1-1
4,1,2024-09-01 11:08:00,Breadcrumbs,Choose Your Toppings,Mac and Cheese,1-1
5,1,2024-09-01 11:08:00,Garlic Parmesan,Choose Your Drizzles,Mac and Cheese,1-1
6,1,2024-09-01 11:08:00,Cheesy Garlic Bread,Choose Your Side,Mac and Cheese,1-1
7,1,2024-09-01 11:08:00,Unlimited Fountain Drinks,Choose Your Drink,Mac and Cheese,1-1
8,4,2024-09-01 11:08:00,Regular,Noods,Mac and Cheese,1-4
9,4,2024-09-01 11:08:00,Cheddar,Choose Your Cheese,Mac and Cheese,1-4
10,4,2024-09-01 11:08:00,Bacon,Choose Your Meats,Mac and Cheese,1-4
11,4,2024-09-01 11:08:00,Corn,Choose Your Toppings,Mac and Cheese,1-4
12,4,2024-09-01 11:08:00,No Drizzle,Choose Your Drizzles,Mac and Cheese,1-4
13,4,2024-09-01 11:08:00,Cheesy Garlic Bread,Choose Your Side,Mac and Cheese,1-4
14,4,2024-09-01 11:08:00,Unlimited Fountain Drinks,Choose Your Drink,Mac and Cheese,1-4
15,3,2024-09-01 11:09:00,Regular,Noods,Mac and Cheese,1-3
16,3,2024-09-01 11:09:00,Cheddar,Choose Your Cheese,Mac and Cheese,1-3
17,3,2024-09-01 11:09:00,Grilled Chicken,Choose Your Meats,Mac and Cheese,1-3
18,3,2024-09-01 11:09:00,Corn,Choose Your Toppings,Mac and Cheese,1-3
19,3,2024-09-01 11:09:00,No Drizzle,Choose Your Drizzles,Mac and Cheese,1-3

In [8]:
df.shape

(47512, 6)

In [13]:
df.count()

Order #                  47512
Sent Date                47511
Modifier                 47511
Option Group Name        47476
Parent Menu Selection    47511
Order ID                 47512
dtype: int64

In [15]:
df['Order ID'].unique()

array(['1-1', '1-4', '1-3', ..., '30-200', '30-5002', '30-3001'],
      dtype=object)

In [22]:
df.head(1000)

,Order #,Sent Date,Modifier,Option Group Name,Parent Menu Selection,Order ID
0,1,2024-09-01 11:08:00,Regular,Noods,Mac and Cheese,1-1
1,1,2024-09-01 11:08:00,Cheddar,Choose Your Cheese,Mac and Cheese,1-1
2,1,2024-09-01 11:08:00,Brisket,Choose Your Meats,Mac and Cheese,1-1
3,1,2024-09-01 11:08:00,Broccoli,Choose Your Toppings,Mac and Cheese,1-1
4,1,2024-09-01 11:08:00,Breadcrumbs,Choose Your Toppings,Mac and Cheese,1-1
...,...,...,...,...,...,...
995,85,2024-09-01 15:28:00,Garlic Parmesan,Choose Your Drizzles,Mac and Cheese,1-85
996,85,2024-09-01 15:28:00,Cheesy Garlic Bread,Choose Your Side,Mac and Cheese,1-85
997,85,2024-09-01 15:28:00,Unlimited Fountain Drinks,Choose Your Drink,Mac and Cheese,1-85
998,86,2024-09-01 15:28:00,Regular,Noods,Mac and Cheese,1-86
999,86,2024-09-01 15:28:00,Cheddar,Mix Bases,MIX,1-86

In [28]:
result = df.groupby('Order ID').agg(
    date=('Sent Date', 'first'),
    modifier_count=('Modifier', 'count')
).sort_values(by='date').reset_index()

In [29]:
result.head(20)

   Order ID                 date  modifier_count
0       1-1  2024-09-01 11:08:00               8
1       1-4  2024-09-01 11:08:00               7
2       1-3  2024-09-01 11:09:00               7
3       1-6  2024-09-01 11:10:00               7
4       1-7  2024-09-01 11:17:00              19
5       1-9  2024-09-01 11:41:00              15
6      1-11  2024-09-01 11:52:00              24
7      1-13  2024-09-01 11:58:00              11
8      1-14  2024-09-01 11:59:00              13
9      1-15  2024-09-01 12:01:00              16
10     1-16  2024-09-01 12:03:00              11
11     1-17  2024-09-01 12:11:00              23
12     1-21  2024-09-01 12:13:00               7
13     1-20  2024-09-01 12:14:00               7
14     1-18  2024-09-01 12:14:00               7
15     1-19  2024-09-01 12:15:00               8
16     1-22  2024-09-01 12:19:00              16
17     1-24  2024-09-01 12:19:00              17
18     1-23  2024-09-01 12:24:00              26
19     1-25  2024-09-01 12:37:00              18

In [ ]:
res